/* Post (advertisement) : image_list */
.image_list:hover{
    border: 1px dashed #001529;
    cursor: pointer;
    border-radius: 1em;
    box-sizing: border-box;
}

/* Post : upload_btn */
.upload_btn{
    border: 1px dashed #d9d9d9;
}

.upload_btn:hover{
    border: 1px dashed #1890ff;
    cursor: pointer;
}

/* EditProfile : radio-custom */
.radio-custom .ant-radio-wrapper {
    border: 1px solid #ccc;
    border-radius: 80px;
    padding: 4px;
    margin-top: 8px;
}

.radio-custom .ant-radio-wrapper-checked {
    border: 1px solid #1890ff;
    border-radius: 80px;
    padding: 4px;
}

.radio-custom .ant-radio {
    position: absolute;
    left: -9999px;
    overflow: hidden;
}

.radio-custom .ant-radio + * {
    display: block;
    padding: 0;
    overflow: hidden;
    border-radius: 80px;
}

.radio-custom img {
    width: 80px;
    height: 80px;
}

